<div id = "login">
    <form [formGroup]="resetForm" (ngSubmit)="resetPassw()">    
		<div class="form-group">
            <p>Please enter your email so we can send you new password.</p>
			<input type="text" class="form-control" id="email"  placeholder="email" formControlName="email">
			<small class="text-danger" 
				*ngIf="resetForm.controls.email.touched && resetForm.controls.email.errors?.required">
				Email is required</small>
			<small class="text-danger" 
				*ngIf="resetForm.controls.email.touched && resetForm.controls.email.errors?.email">
				Email is not valid</small>
		</div>
		<div class="form-group">
    		<button type="submit" class="btn btn-primary btn-block" id="reset-button" [disabled]="resetForm.invalid">Reset password</button>
		</div>
    </form>
</div>
