<div class="w-50 h-100 p-5" style="float:left;">
	<h4>Recenzije</h4>
	<form [formGroup]="recForm" (ngSubmit)="filter()" class="form-inline">
		<div class="form-group mx-sm-0 mb-2">
		  <select name = "ocena" id="ocena" placeholder="search by content..." formControlName="ocena">
            <option *ngFor="let ocene of oceneLista" value="{{ocene}}">{{ocene}}</option>
         </select>
		</div>
		<button type="submit" class="btn btn-secondary mb-2" id="searchBtn">Search</button>
	</form>
	<div class="row">
		<div class="col">
			<app-table-recenzija [recenzije]="subList"></app-table-recenzija>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<app-pagination [totalItems]="totalSize" [pageSize]="pageSize"
				(pageSelected)="changePage($event)">
			</app-pagination>
		</div>
	</div>
</div>
<div class="w-50 h-100 p-5" style="float:left;">
    <form (ngSubmit)="natrag()">
        <button type="submit" id="backBtn">Back</button></form>
</div>
