
<!--<table style= "height: 400px;width: 1400px;">
<tbody>
    <tr>
        <td class="allign-middle">
            <h4 class="text-center">
                Confirm your registration with clicking on <button class="btn btn-success" (click)="confirmReg()">Confirmation</button>
            </h4> 
        </td>
    </tr>
</tbody>
</table>-->
<div style= "height: 150px;"></div>
<h4 class="text-center">
    Confirm your registration with clicking on <button class="btn btn-success" (click)="confirmReg()">Confirmation</button>
</h4> 
