<table class="table table-striped pera">
    <thead>
      <tr>
        <th>Name <button class="btn btn-link"><span class="fa fa-sort"></span></button> </th>
        <th>Content<button class="btn btn-link"><span class="fa fa-sort"></span></button> </th>
        <th>Date<button class="btn btn-link"><span class="fa fa-sort"></span></button> </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let novost of novosti">
        <td>{{novost.naziv}}</td>
        <td>{{novost.opis}}</td>
        <td>{{novost.datum | date:'dd.MM.yyyy'}}</td>
      </tr>
    </tbody>
  </table>
