<table class="table table-striped pera">
    <thead>
      <tr>
        <th>Grade <button class="btn btn-link"><span class="fa fa-sort"></span></button> </th>
        <th>Comment<button class="btn btn-link"><span class="fa fa-sort"></span></button> </th>
        <th>Photo<button class="btn btn-link"><span class="fa fa-sort"></span></button> </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let recenzija of recenzije" id="elementi">
        <td>{{recenzija.ocena}}</td>
        <td>{{recenzija.komentar}}</td>
        <td ><img src="{{recenzija.foto}}" height="50" width="50"></td>
      </tr>
    </tbody>
  </table>
