<div id = "recenzija" class="w-50 h-100 p-5" style="float:left;">
    <form [formGroup]="recForm" (ngSubmit)="napravi(imageInput)">
        <h2 class="text-center">Review</h2> 
        <div class="form-group">
        <label for="ocena">Grade:  </label>
        <select name = "ocena" id="ocena" placeholder="ocena" formControlName="ocena">
            <option value = "-1" selected>Not graded</option>
            <option *ngFor="let ocene of oceneLista" value="{{ocene}}">{{ocene}}</option>
         </select>
        
        </div>
		<div class="form-group">
			<label for="komentar">Comment: </label>
            <input type="text" class="form-control" id="komentar"  placeholder="komentar" formControlName="komentar">
			<small class="text-danger" 
				*ngIf="recForm.controls.komentar.touched && recForm.controls.komentar.errors?.required">
				Comment must exist!</small>
        </div>
        <div class="form-group">
            <label class="image-upload-container btn btn-bwm">
                <span>Select Image</span>
                <input #imageInput
                       type="file"
                       
                       accept="image/*">
                       <!--(change)="processFile(imageInput)">-->
              </label>

              <div *ngIf="selectedFile" class="img-preview-container">

                <div class="img-preview{{selectedFile.status === 'fail' ? '-error' : ''}}"
                     [ngStyle]="{'background-image': 'url('+ selectedFile.src + ')'}">
                </div>
              
                <div *ngIf="selectedFile.pending" class="img-loading-overlay">
                  <div class="img-spinning-circle"></div>
                </div>
              
                <div *ngIf="selectedFile.status === 'ok'" class="alert alert-success"> Image Uploaded Succesfuly!</div>
                <div *ngIf="selectedFile.status === 'fail'" class="alert alert-danger"> Image Upload Failed!</div>
              </div>
        </div>
        <div class="form-group">
    		<button type="submit" class="btn btn-primary btn-block" [disabled]="recForm.invalid" id="napraviBtn">Submit</button>
        </div>
    </form>
</div>
<div class="w-50 h-100 p-5" style="float:left;">
  <form (ngSubmit)="natrag()">
    <button type="submit" id="backBtn">Back</button>
  </form>
</div>