<table class="table table-striped pera">
    <thead>
      <tr>
        <th>Id<button class="btn btn-link"><span class="fa fa-sort"></span></button> </th>
        <th>Name <button class="btn btn-link"><span class="fa fa-sort"></span></button> </th>
        <th>Details<button class="btn btn-link"><span class="fa fa-sort"></span></button> </th>
        <th></th>
        <th *ngIf="uloga==='ROLE_ADMIN'"></th>
        <th *ngIf="uloga==='ROLE_ADMIN'"></th>
      </tr>
    </thead>
    <tbody>
      <div *ngIf="subscriptions?.length === 0 || subscriptions === undefined" style="float:right;">
        <h4><b>No cultural contents</b></h4>
      </div>
      <tr *ngFor="let subscription of subscriptions">
        <td>{{subscription.id}}</td>
        <td>{{subscription.naziv}}</td>
        <td>{{subscription.opis}}</td>
        <td>
          <a class="btn btn-info" routerLink="/kulturna-ponuda-detaljno/{{subscription.id}}" role="button" id="kp_detaljno">Detailed</a>
        </td>
        <td *ngIf="uloga==='ROLE_ADMIN'">
            <a class="btn btn-secondary" routerLink="/edit-kp/{{subscription.id}}" role="button" id="edit_kp">Edit</a>
        </td>
        <td *ngIf="uloga==='ROLE_ADMIN'">
          <button button type="button" class="btn btn-danger" (click)="Obrisi(subscription)" id="delete_kp">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>


