<div class="w-50 h-100 p-5" style="float:left;">
    <div>
        <h2><img src="assets/img/R6eb915d96d4c990aaf152a70c5fb54a9.png">
        {{kP.naziv}}</h2>
        
    <br/>
    </div>
    <div>
        <h4>Type of cultural offer: {{tipKP.naziv}}</h4>
    </div><div>
        <h5>Description</h5>
        <h6>{{kP.opis}}</h6>
    </div><div>
        
        <form *ngIf="!daLiJe; else elseBlock" (ngSubmit)="subscribe()">
            <button type="submit" *ngIf="uloga==='ROLE_USER'" value="Subscribe">Subscribe</button>
        </form>
        <ng-template #elseBlock>
        <form (ngSubmit)="unsubscribe()">
            <button type="submit" *ngIf="uloga==='ROLE_USER'" value="Subscribe">Unsubscribe</button>
        </form>
        </ng-template>
        &nbsp;
        <form (ngSubmit)="natrag()">
        <button type="submit">Natrag</button></form>
    </div>
</div>
<div class="w-50 h-100 p-5" style="float:left;">
    <h4>Average grade: {{prosecnaOcena}}</h4>
    <form (ngSubmit)="recenzije()"><button >Reviews</button><br/></form><br/>
    <form (ngSubmit)="dajRecenziju()" *ngif="!vecDao; else elseBlock"><button *ngIf="uloga==='ROLE_USER'" >Add review</button><br/></form><br/>
    <ng-template #elseBlock>
        <h6 *ngIf="uloga==='ROLE_USER'">Dali ste review za kulturnu ponudu.</h6>
    </ng-template>
    <button *ngIf="uloga==='ROLE_ADMIN'">Change</button><br/><br/>
    <button *ngIf="uloga==='ROLE_ADMIN'">Delete</button><br/>
    
    <form (ngSubmit)="dodajVest()"><button *ngIf="uloga==='ROLE_ADMIN'">Add news</button></form>
    <h4>News</h4>
	<div class="row">
		<div class="col">
			<app-table-novost [novosti]="subList"></app-table-novost>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<app-pagination [totalItems]="totalSize" [pageSize]="pageSize"
				(pageSelected)="changePage($event)">
			</app-pagination>
		</div>
	</div>
</div>
