<div class="w-50 h-100 p-5" style="float:left;">
    <div>
        <h2><img src="{{lokacijaSlike.lokacijaFajl}}" height="400" width="550"><br/>
            Name: {{kP.naziv}}</h2>
    </div>
    <div>
        <h3>Type of cultural offer: {{tipKP.naziv}}</h3>
    </div><div>
        <h4><b>Location:</b></h4>
        <h4>{{lokacija.nazivLokacije}}</h4>
        <h4><b>Description:</b></h4>
        <h4>{{kP.opis}}</h4>
    </div><div>
        
        <form *ngIf="!daLiJe; else elseBlock" (ngSubmit)="subscribe()">
            <button type="submit" *ngIf="uloga==='ROLE_USER'" value="Subscribe" id="subscribeBtn" class="btn btn-danger">Subscribe</button>
        </form>
        <ng-template #elseBlock>
        <form (ngSubmit)="unsubscribe()">
            <button type="submit" *ngIf="uloga==='ROLE_USER'" value="Subscribe" id="subscribeBtn" class="btn btn-danger">Unsubscribe</button>
        </form>
        </ng-template>
        &nbsp;
        <form (ngSubmit)="natrag()">
        <button type="submit" id="backBtn" class="btn btn-secondary">Back</button></form>
    </div>
</div>
<div class="w-50 h-100 p-5" style="float:left;">
    <h4>Average grade: {{prosecnaOcena}}</h4>
    <form (ngSubmit)="recenzije()"><button id="reviewsBtn" class="btn btn-secondary">Reviews</button><br/></form><br/>
    <form *ngIf="uloga==='ROLE_USER'" (ngSubmit)="dajRecenziju()" ><button *ngIf="uloga==='ROLE_USER' && !vecDao" id="addReviewBtn" class="btn btn-secondary">Add review</button><br/></form>
    <h3 *ngIf="uloga==='ROLE_USER' && vecDao">You have already given review for this cultural offer.</h3>
    <br/>
    <button *ngIf="uloga==='ROLE_ADMIN'" routerLink="/edit-kp/{{id}}" id="editBtn" mat-raised-button color="primary">Edit</button><br/><br/>
    <form (ngSubmit)="Obrisi()"><button type="submit" *ngIf="uloga==='ROLE_ADMIN'" id="deleteBtn" mat-raised-button color="primary">Delete</button><br/><br/></form>
    
    <form (ngSubmit)="dodajVest()"><button *ngIf="uloga==='ROLE_ADMIN'" id="addNewsBtn" mat-raised-button color="primary">Add news</button></form>
    <h4>News</h4>
	<div class="row">
		<div class="col">
			<app-table-novost [novosti]="subList"></app-table-novost>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<app-pagination [totalItems]="totalSize" [pageSize]="pageSize"
				(pageSelected)="changePage($event)">
			</app-pagination>
		</div>
	</div>
</div>
