<div class="w-50 h-100 p-5" style="float:left;">
    <div>
        <h2><img src="C:\Users\Kssbc\Documents\GitHub\KTSNWT2020_T5\Cultural-content\Slike\OIP.jpg">
        {{kP.naziv}}</h2>
        <button *ngIf="uloga==='ROLE_ADMIN'">Add news</button>
    <br/>
    </div>
    <div>
        <h4>Tip kulturne ponude: {{tipKP.naziv}}</h4>
    </div><div>
        <h5>Deskrpicija</h5>
        <h6>{{kP.opis}}</h6>
    </div><div>
        
        <form *ngIf="!daLiJe; else elseBlock" (ngSubmit)="subscribe()">
            <button type="submit" *ngIf="uloga==='ROLE_USER'" value="Subscribe">Subscribe</button>
        </form>
        <ng-template #elseBlock>
        <form (ngSubmit)="unsubscribe()">
            <button type="submit" *ngIf="uloga==='ROLE_USER'" value="Subscribe">Unsubscribe</button>
        </form>
        </ng-template>
        &nbsp;
        <form (ngSubmit)="natrag()">
        <button type="submit">Natrag</button></form>
    </div>
</div>
<div>
    <h4>Prosečna ocena: {{prosecnaOcena}}</h4>
    <button (ngSubmit)="recenzije()">Pogledaj recenzija</button><br/>
    <button *ngIf="uloga==='ROLE_USER'" (ngSubmit)="dajRecenziju()">Daj recenziju</button><br/>
    <button *ngIf="uloga==='ROLE_ADMIN'">Izmeni</button><br/>
    <button *ngIf="uloga==='ROLE_ADMIN'">Obriši</button><br/>
</div>
<div class="w-50 h-100 p-5" style="float:left;">
    <h4>Vesti</h4>
	<div class="row">
		<div class="col">
			<app-table-novost [novosti]="subList"></app-table-novost>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<app-pagination [totalItems]="totalSize" [pageSize]="pageSize"
				(pageSelected)="changePage($event)">
			</app-pagination>
		</div>
	</div>
</div>
